# VacationPy
----

In [13]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [14]:
# Storing the csv as a variable to call
file = "../output_data/clean_weather_data.csv"

# Reading in csv as a data frame
weather_data = pd.DataFrame(pd.read_csv(file, index_col="City ID"))

# Calling data frame
weather_data

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
City ID,,,,,,,,,
0,Monrovia,40,LR,1610901175,52,6.3005,-10.7969,91.40,3.44
1,Ribeira Grande,75,PT,1610901187,94,38.5167,-28.7000,62.60,25.32
2,Chiredzi,100,ZW,1610901187,84,-21.0500,31.6667,77.14,7.85
3,Tongren,43,CN,1610901188,73,27.7172,109.1853,39.49,2.28
4,Clyde River,90,CA,1610901189,92,70.4692,-68.5914,6.80,23.02
...,...,...,...,...,...,...,...,...,...
549,Viedma,0,AR,1610901447,39,-40.8135,-62.9967,75.99,15.86
550,Rørvik,0,NO,1610901447,68,64.8621,11.2373,24.80,4.61
551,Praia da Vitória,75,PT,1610901448,94,38.7333,-27.0667,62.01,30.15
552,Lompoc,0,US,1610901448,71,34.6391,-120.4579,68.00,9.22
553,Khovd,95,MN,1610901449,81,48.0056,91.6419,1.47,1.88

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [30]:
# Calling API key
gmaps.configure(api_key=g_key)

# Setting location and humidity to call later on
locations = weather_data[["Lat", "Lng"]]
weights = weather_data["Humidity"]

# Configuring map layout
figure_layout = {
    'width': "100%",
    'height': '400px',
    'padding': '1px',
}
fig = gmaps.figure(layout=figure_layout, center=(21, 4), zoom_level=2.0)
heatmap_layer = gmaps.heatmap_layer(locations, weights=weights, dissipating=False)
fig.add_layer(heatmap_layer)

# Setting heatmap intensity and radius
heatmap_layer.max_intensity = max(weights)
heatmap_layer.point_radius = 3

# Displaying heatmap
fig

Figure(layout=FigureLayout(height='400px', padding='1px', width='100%'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [16]:
# Narrowing down the list of cities for the following parameters
candidate_cities = weather_data.loc[(weather_data["Max Temp"] > 70) & 
                               (weather_data["Max Temp"] < 80) & 
                               (weather_data["Wind Speed"] < 10) & 
                               (weather_data["Cloudiness"] == 0) &
                               (weather_data["Humidity"] < 75), :].reset_index(drop=True).dropna()
candidate_cities

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,Acajutla,0,SV,1610901264,53,13.5928,-89.8275,78.80,3.44
1,São Filipe,0,CV,1610901293,64,14.8961,-24.4956,75.06,9.95
2,Pisco,0,PE,1610901318,68,-13.7000,-76.2167,73.40,8.05
3,La Cruz,0,MX,1610901337,32,23.9167,-106.9000,74.64,1.39
4,San Ignacio,0,BZ,1610901129,73,17.1561,-89.0714,73.40,6.91
5,Comodoro Rivadavia,0,AR,1610901414,41,-45.8667,-67.5000,75.20,9.22
6,Vasai,0,IN,1610901433,61,19.4700,72.8000,78.80,3.44

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [17]:
# Storing variables into hotel_df

hotel_df = candidate_cities[["City", "Country", "Lat", "Lng"]].copy()

# Adding null values to be replaced
hotel_df["Hotel Name"] = np.nan
hotel_df

                 City Country      Lat       Lng  Hotel Name
0            Acajutla      SV  13.5928  -89.8275         NaN
1          São Filipe      CV  14.8961  -24.4956         NaN
2               Pisco      PE -13.7000  -76.2167         NaN
3             La Cruz      MX  23.9167 -106.9000         NaN
4         San Ignacio      BZ  17.1561  -89.0714         NaN
5  Comodoro Rivadavia      AR -45.8667  -67.5000         NaN
6               Vasai      IN  19.4700   72.8000         NaN

In [23]:
# Setting parameters for api search
target_search = "hotel"
target_radius = 5000
target_type = "lodging"

# Setting up the parameter dictionary
params = {
    "keyword": target_search,
    "radius": target_radius,
    "type": target_type,
    "key": g_key
}

# Defining base URL
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

In [25]:
for index, row in hotel_df.iterrows():
    
    # Storing coordinates into the parameters
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # Retrieving hotel information from API
    hotel_data = requests.get(base_url, params).json()
    
    # Using a try and except based on city names
    
    try:
        hotel_name = hotel_data["results"][0]["name"]
        hotel_df.loc[index, "Hotel Name"] = hotel_name
        print(f"City '{row['City']}' found. The closest hotel is {hotel_name}")
        print("-------------------------------------------------------------------------")
              
    except:
        print(f"No information on '{row['City']}' found")    
        print("-------------------------------------------------------------------------")

City 'Acajutla' found. The closest hotel is Villavela Hotel Boutique
-------------------------------------------------------------------------
City 'São Filipe' found. The closest hotel is Hotel Xaguate
-------------------------------------------------------------------------
City 'Pisco' found. The closest hotel is HOSTAL MIRAMAR
-------------------------------------------------------------------------
City 'La Cruz' found. The closest hotel is Hotel Jr
-------------------------------------------------------------------------
City 'San Ignacio' found. The closest hotel is Ka'ana Resort And Spa
-------------------------------------------------------------------------
City 'Comodoro Rivadavia' found. The closest hotel is Lucania Palazzo Hotel
-------------------------------------------------------------------------
City 'Vasai' found. The closest hotel is Hotel Hill View Lodging & Boarding
-------------------------------------------------------------------------

In [26]:
# Removing any nulls
hotel_df.dropna(how="any",inplace=True)
hotel_df.reset_index(drop=True, inplace=True)

# Displaying data frame
hotel_df

,City,Country,Lat,Lng,Hotel Name
0,Acajutla,SV,13.5928,-89.8275,Villavela Hotel Boutique
1,São Filipe,CV,14.8961,-24.4956,Hotel Xaguate
2,Pisco,PE,-13.7000,-76.2167,HOSTAL MIRAMAR
3,La Cruz,MX,23.9167,-106.9000,Hotel Jr
4,San Ignacio,BZ,17.1561,-89.0714,Ka'ana Resort And Spa
5,Comodoro Rivadavia,AR,-45.8667,-67.5000,Lucania Palazzo Hotel
6,Vasai,IN,19.4700,72.8000,Hotel Hill View Lodging & Boarding

In [27]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [28]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(markers)

# Display figure
fig

Figure(layout=FigureLayout(height='400px', padding='1px', width='100%'))